@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400display=swap");

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    font-family: "Open Sans", sans-serif;
    background: #2e3440;
}

label {
    position: relative;
}

label svg {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #4c566a;
    transition: color 0.2s;
}

label:focus-within svg {
    color: #e5e9f0;
}

label input {
    font-family: inherit;
    font-size: 1.2rem;
    color: #e5e9f0;
    background: rgba(245, 248, 255, 0.025);
    padding: 1rem 1.4rem 1rem 3.2rem;
    min-width: 12rem;
    outline: none;
    border: 0.15rem solid transparent;
    border-radius: 0.4rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

label:hover input {
    border-color: rgba(245, 248, 255, 0.2);
}

label input::placeholder {
    color: #393938;
    user-select: none;
}

label input:focus {
    border-color: #434c5e;
    box-shadow: 0 0 0 0.4rem rgba(76, 86, 106, 0.15);
}

