@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e3440;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

#Menu {
    position: relative;
    border: none;
    border-radius: 10em;
    display: flex;
    list-style: none;
    background: #4c566a;
    box-shadow: 40px 40px 40px #000000;
    border: 2px solid white;
    padding: 10px;
}

#Menu li a {
    position: relative;
    padding: 0.6em 2em;
    font-size: 18px;
    border: none;
    outline: none;
    color: #2e3440;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

#Menu .fluid {
    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

#Menu .fluid {
    background: #d8dee9;
    z-index: 2;
}

#Menu .squeeze {
    transform: scale(0.9);
}