body {
    background-color: #2e3440;
}

.loading {
    position: absolute;
    top: 47%;
    right: 47%;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #e5e9f0;
    border-left-color: #4c566a;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}