body {
    background-color: #2e3440;
}

.image {
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-left: -100px;
    margin-right: -100px;
    border-radius: 50%;
    border-color: #4c566a;
    border-width: 8px;
    border-style: solid;
    filter: grayscale(100%);
    transition: all 800ms;
}

.image:hover {
    transform: rotate(360deg);
    filter: grayscale(0%)
}

