body {
    background: #2e3440;
    font-family: "Open Sans", sans-serif;
    color: #4c566a;
    padding: 15% 15% 5%;
}

:root { 
    scrollbar-width: none !important ;
} 


::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

p {
    color: #d8dee9;
    font-size: 1.8rem;
}

h1 {
    font-size: 200px;
    position: absolute;
    top: -5%;
    left: 15%;
}


#progressBarContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}


#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #d8dee9, #4c566a);
    height: 0;
    opacity: 0;
}



