* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e3440;
}

.box {
    position: absolute;
    top: 50%;
    left: 47%;
    width: 90px;
    height: 40px;
    border: 2px solid #d8dee9;
    z-index: -2;
    border-radius: 50px;
}

.box input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

span {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 34px;
    height: 34px;
    z-index: -1;
    border-radius: 50px;
    transition: all 0.4s;
    background-color: #d8dee9;
}

.box input:checked ~ span {
    transform: translateX(145%) scale(1);
    background-color: #4c566a;
}