* {
  font-family: "Open Sans";
}

body {
  background-color: #2e3440;
}

p {
  color: #e5e9f0;
  text-align: center;
  position: fixed;
  top: 50%;
}

.back {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}